<header class="column">
  <h1 id="site-title">
    <a href="/" class="full-title">{{ shop.name }}</a>


    <a href="/cart" class="show-cart-link" id="cart-buy" data-cart-count="{{cart.item_count}}">
      Cart (<span class="cart-count">{{ cart.item_count }}</span>)
    </a>

  </h1>

</header>
